* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

/* Header & Main navigation */
.header {
  background-color: #1f2937;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header__logo {
  font-size: 24px;
  color: #f9faf8;
  margin: 0;
}

.header__nav {
  width: 40%;
}

.header__nav-list {
  display: flex;
  gap: 5em;
  padding: 0;
  justify-content: center;
  list-style-type: none;
}

.header__nav-link {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

/* Hero Section */

.hero {
  background-color: #1f2937;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5em;
  flex-basis: 100%;
  height: 24em;
  gap: 3em;
}

.hero__content {
  flex-basis: 29em;
  height: 100%;
  padding: 0 1em;
}

.hero__title {
  font-size: 48px;
  color: #f9faf8;
  margin: 0;
  padding: 0;
}

.hero__subtitle {
  font-size: 18px;
  color: #e5e7eb;
  margin: 7px 0;
  padding: 0;
}

.hero__button {
  padding: 5px;
  width: 6em;
  background-color: #3882f6;
  color: #ffffff;
  border-radius: 0.3em;
  font-weight: 700;
}

.hero__image {
  background-color: #6d747d;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 29em;
  height: 100%;
  margin-right: 5em;
}

.hero__image-text {
  color: #e5e7eb;
  font-size: 18px;
}

/* Main Content */

/* .content {
  display: flex;
  flex-wrap: wrap;
} */

.content__product {
  background-color: #ffffff;
  /* flex-basis: 100%;
  flex-grow: 1;
  min-width: 100%;
  min-height: 100%; */
  height: 35em;
  display: flex;
  justify-content: center;
  gap: 3em;
  flex-wrap: wrap;
  padding: 3.5em 8em 8em 10em;
}

.content__title {
  display: block;
  margin: 0;
  flex-basis: 100%;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  color: #1f2937;
}

.content__product-container {
  text-align: center;
  max-width: 15em;
  height: 85%;
  margin-inline: 20px;
}

.content__product-image {
  display: block;
  border: 4px solid #9dc1fb;
  margin: 0;
  height: 60%;
  border-radius: 15px;
}

.content__product-text {
  font-size: 27px;
  margin-top: 15px;
  color: #4b5563;
}

/* Testimonial */

.content__testimony {
  background-color: #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35em;
}

.content__testimony-quote {
  flex-basis: 50rem;
  font-size: 36px;
  font-weight: 300;
}

.content__testimony-text {
  font-style: italic;
  color: #1f2937;
}

.content__testimony-author {
  font-weight: bold;
  font-size: 26px;
  text-align: end;
}

/* Call to Action */

.content__cta {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30em;
}

.content__cta-container {
  background-color: #3882f6;
  padding: 3.5em 7.5em;
  flex-basis: 64rem;
  height: 15em;
  border-radius: 10px;
}

.content__cta-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 0;
}

.content__cta-text {
  display: inline-block;
  font-size: 1.25rem;
  color: #dae1ec;
  margin: 0;
}

.content__cta-btn {
  background-color: #3882f6;
  border: 3px solid #ffffff;
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;
  border-radius: 5px;
  display: inline-block;
  width: 10em;
  height: 2.5em;
  margin-left: 5em;
  position: relative;
  top: -15px;
}

/* Footer */

/*
.header__nav > ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  gap: 30px;
}

.header__nav-item > a {
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
} */
