* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

/* Header & Main navigation */
.header {
  background-color: #1f2937;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header__logo {
  font-size: 24px;
  color: #f9faf8;
  margin: 0;
}

.header__nav {
  width: 40%;
}

.header__nav-list {
  display: flex;
  gap: 5em;
  padding: 0;
  justify-content: center;
  list-style-type: none;
}

.header__nav-link {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

/* Hero Section */

.hero {
  background-color: #1f2937;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5em;
  flex-basis: 100%;
  height: 24em;
  gap: 3em;
}

.hero__content {
  flex-basis: 29em;
  height: 100%;
  padding: 0 1em;
}

.hero__title {
  font-size: 48px;
  color: #f9faf8;
  margin: 0;
  padding: 0;
}

.hero__subtitle {
  font-size: 18px;
  color: #e5e7eb;
  margin: 7px 0;
  padding: 0;
}

.hero__button {
  padding: 5px;
  width: 6em;
  background-color: #3882f6;
  color: #ffffff;
  border-radius: 0.3em;
  font-weight: 700;
}

.hero__image {
  background-color: #6d747d;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 29em;
  height: 100%;
  margin-right: 5em;
}

.hero__image-text {
  color: #e5e7eb;
  font-size: 18px;
}

/* Main Content */

/* .content {
  display: flex;
  flex-wrap: wrap;
} */

.content__product {
  background-color: #ffffff;
  /* flex-basis: 100%;
  flex-grow: 1;
  min-width: 100%;
  min-height: 100%; */
  height: 35em;
  display: flex;
  justify-content: center;
  gap: 3em;
  flex-wrap: wrap;
  padding: 3.5em 8em 8em 10em;
}

.content__title {
  display: block;
  margin: 0;
  flex-basis: 100%;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  color: #1f2937;
}

.content__product-container {
  text-align: center;
  max-width: 15em;
  height: 85%;
  margin-inline: 20px;
}

.content__product-image {
  display: block;
  border: 4px solid #9dc1fb;
  margin: 0;
  height: 60%;
  border-radius: 15px;
}

.content__product-text {
  font-size: 27px;
  margin-top: 15px;
  color: #4b5563;
}

/* Testimonial */

/*
.header__nav > ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  gap: 30px;
}

.header__nav-item > a {
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
} */
