* {
  /* Borders */
  box-sizing: border-box;
}

body {
  /* Layout */
  padding: 0;
  margin: 0;
}

/* Header & Main navigation */
.header {
  /* Layout */
  display: flex;
  justify-content: space-around;
  align-items: center;

  /* Colors */
  background-color: #1f2937;
}

.header__logo {
  /* Typography */
  font-size: 24px;

  /* Layout */
  margin: 0;

  /* Colors */
  color: #f9faf8;
}

.header__nav {
  /* Layout */
  width: 40%;
}

.header__nav-list {
  /* Layout */
  display: flex;
  justify-content: center;
  gap: 5em;
  padding: 0;

  /* Stylistic */
  list-style-type: none;
}

.header__nav-link {
  /* Typography */
  font-size: 18px;

  /* Colors */
  color: #e5e7eb;

  /* Stylistic */
  text-decoration: none;
}

/* Hero Section */

.hero {
  /* Layout */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5em;
  flex-basis: 100%;
  height: 24em;
  gap: 3em;

  /* Colors */
  background-color: #1f2937;
}

.hero__content {
  /* Layout */
  flex-basis: 29em;
  height: 100%;
  padding: 0 1em;
}

.hero__title {
  /* Typography */
  font-size: 48px;

  /* Layout */
  margin: 0;
  padding: 0;

  /* Colors */
  color: #f9faf8;
}

.hero__subtitle {
  /* Typography */
  font-size: 18px;

  /* Layout */
  margin: 7px 0;
  padding: 0;

  /* Colors */
  color: #e5e7eb;
}

.hero__button {
  /* Typography */
  font-weight: 700;

  /* Layout */
  padding: 5px;
  width: 6em;

  /* Colors */
  background-color: #3882f6;
  color: #ffffff;

  /* Borders */
  border-radius: 0.3em;
}

.hero__image {
  /* Layout */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 29em;
  height: 100%;
  margin-right: 5em;

  /* Colors */
  background-color: #6d747d;
}

.hero__image-text {
  /* Typography */
  font-size: 18px;

  /* Colors */
  color: #e5e7eb;
}

/* Main Content */

.content__product {
  /* Layout */
  height: 35em;
  display: flex;
  justify-content: center;
  gap: 3em;
  flex-wrap: wrap;
  padding: 3.5em 8em 8em 10em;

  /* Colors */
  background-color: #ffffff;
}

.content__title {
  /* Typography */
  text-align: center;
  font-size: 36px;
  font-weight: bold;

  /* Layout */
  display: block;
  margin: 0;
  flex-basis: 100%;

  /* Colors */
  color: #1f2937;
}

.content__product-container {
  /* Typography */
  text-align: center;

  /* Layout */
  max-width: 15em;
  height: 85%;
  margin-inline: 20px;
}

.content__product-image {
  /* Layout */
  display: block;
  margin: 0;
  height: 60%;

  /* Borders */
  border: 4px solid #9dc1fb;
  border-radius: 15px;
}

.content__product-text {
  /* Typography */
  font-size: 27px;

  /* Layout */
  margin-top: 15px;

  /* Colors */
  color: #4b5563;
}

/* Testimonial */

.content__testimony {
  /* Layout */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35em;

  /* Colors */
  background-color: #e5e7eb;
}

.content__testimony-quote {
  /* Typography */
  font-size: 36px;
  font-weight: 300;

  /* Layout */
  flex-basis: 50rem;
}

.content__testimony-text {
  /* Typography */
  font-style: italic;

  /* Colors */
  color: #1f2937;
}

.content__testimony-author {
  /* Typography */
  font-weight: bold;
  font-size: 26px;
  text-align: end;
}

/* Call to Action */

.content__cta {
  /* Layout */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30em;

  /* Colors */
  background-color: #ffffff;
}

.content__cta-container {
  /* Layout */
  padding: 3.5em 7.5em;
  flex-basis: 64rem;
  height: 15em;

  /* Colors */
  background-color: #3882f6;

  /* Borders */
  border-radius: 10px;
}

.content__cta-title {
  /* Typography */
  font-weight: 700;
  font-size: 2rem;

  /* Layout */
  margin-bottom: 0;

  /* Colors */
  color: #ffffff;
}

.content__cta-text {
  /* Typography */
  font-size: 1.25rem;

  /* Layout */
  display: inline-block;
  margin: 0;

  /* Colors */
  color: #dae1ec;
}

.content__cta-btn {
  /* Typography */
  font-weight: bold;
  font-size: 18px;

  /* Layout */
  display: inline-block;
  width: 10em;
  height: 2.5em;
  margin-left: 5em;
  position: relative;
  top: -15px;

  /* Colors */
  background-color: #3882f6;
  color: #ffffff;

  /* Borders */
  border: 3px solid #ffffff;
  border-radius: 5px;
}

/* Footer */

.footer {
  /* Typography */
  font-size: 18px;

  /* Layout */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7em;

  /* Colors */
  background-color: #1f2937;
  color: #f1f2f2;
}
